  body{margin: 0px;padding: 0px;}
		    ul{list-style: none; margin: 0px;padding: 0px;}
		    .cl{clear: both;}
			.header{width: 100%;height: 66px;}
			.header .header_top{
				width: 1170px;
				height: 88px;
				margin: 0 auto;
				margin-top: 30px;}
			.header .header_left{
				width: 122px;
				height: 30px;
				float: left;}
			.header .header_left .text{
				color: #5e5e5e; 
				font-size: 30px; 
				font-weight: 100; 
				line-height: 30px;
				padding-left: 15px;
				text-decoration: none;}  
			.header .header_left span{color: #f25f5b;}
			.header .header_right{width: 700px;height: 44px; float:right; }
			.header .header_right ul .nav{float:right; }
			.header .header_right ul li{float: left; padding-right: 3px;font-family: "微软雅黑";}
			.header .header_right ul li a{ 
			text-decoration: none; 
			color: #999999; 
			font-size: 14px;padding: 8px;
			background-color: #FFFFFF;
			}
			.header .header_right .nav .aa:hover{background-color: #F77B6F;	
			color: #FFFFFF; 
			border-radius: 4px;} 
			
			.header_right li input{
	margin-top: 3px;
	width: 20px;
	height: 32px;
	line-height: 32px;
	border: 1px solid rgb(255,255,255);
	background: url(../images/search-icon.jpg) no-repeat 10px 8px;
	padding: 0 5px 0 35px;
	box-sizing: border-box;
	outline: none;
	margin-top: -2px;
}
.header_right li input:focus{
	
	width: 180px;
	height: 32px;
	line-height: 32px;
	border: 1px solid rgb(236,236,236);
	background: url(../images/search-icon.jpg) no-repeat 10px 8px;
	margin-left: 10px;
	color: rgb(156,156,156);
	padding: 0 5px 0 35px;
	border-radius: 5px;
	outline: none;
	transition: all .3s ease;
}
			
			.header_center{width: 100%;height: 125px; background: #475268; }
			.header_center .header_center1{width: 1130px;height: 20px;margin: 0 auto;padding-top: 50px;}
			.header_center .center_left{float: left;line-height: 20px;}
			.header_center .center_left .ab{color: #fff; font-size: 24px;font-weight: 600;}
			.header_center .center_right{float: right;} 
			.header_center .center_right li span{color: #B7CCBC; font-size: 12px;}
			.header_center .center_right li{float: left;color: #EC6569;padding-left: 10px;}
			.header_center .center_right li a{color: #FFFFFF;}
			
			.main{width: 100%;height: 505px;background: #FFFFFF;}
			.main .main_center{width: 1130px;height: 416px;margin: 0 auto;margin-top: 40px;}
			.main .main_center .main1{width: 1130px;height: 267px;} 
			.main .main_center .main1 .ad{width: 457px;height: 257px; float: left;}
			.main .main_center .main1 .txt{width: 647px;height: 257px;float: right;}
			.main .main_center .main1 .txt .txt1{width: 219px;height: 22px;margin-top: 5px; color: #475168; font-size: 22px;font-family:sans-serif;}
			.main .main_center .main1 .txt .txt2{margin-top: 17px;color: #858585; font-family: arial;font-size: 13px; line-height: 22px;}
			
			.main .main_bottom{width: 1128px;height: 75px; margin-top: 80px;}
			.main .main_bottom .left{width: 541px;height: 75px;float: left;}
			.main .main_bottom .left .logo{width: 61px;height: 60px;float: left; margin-top: 10px;}
			.main .main_bottom .left .io{width: 456px;height: 70px;float: right;}
			.main .main_bottom .left .io .ios{width: 220px;height: 20px;font-size: 20px;font-family:sans-serif;color: #475168;}
			.main .main_bottom .left .io .ios1{margin-top:10px;color: #858585; font-family: arial;font-size: 13px; line-height: 22px;}
			.main .main_bottom .right{width: 541px;height: 75px;float: right;}
			.main .main_bottom .right .logo1{width: 61px;height: 60px;float: left; margin-top: 10px;}
			.main .main_bottom .right .io1{width: 456px;height: 70px;float: right;}
			.main .main_bottom .right .ios2{width: 220px;height: 20px;font-size: 20px;font-family:sans-serif;color: #475168;}
			.main .main_bottom .right .ios3{margin-top:10px;color: #858585; font-family: arial;font-size: 13px; line-height: 22px;}
			.san{width: 100%;height: 388px;background: #F2F2F2;}
			.san .san1{text-align: center;}
			
		
			.suoyou{width: 1124px;height: 440px;margin: 0 auto;margin-top: 50px;}
			.suoyou .top{width: 1017px;height: 59px;text-align: center;}
			.suoyou .top1{color: #475168; font-size: 30px;font-weight: 300;}
			.suoyou .top2{color: #8a8b8b;font-size: 18px;font-weight: 300;margin-top: 10px;}
			.suoyou .ren{width: 1166px;height: 296px;margin-top: 64px;}
			.suoyou .ren .er{width: 215px;height: 296px;float: left;padding-right: 170px;}
			.suoyou .ren .er .tu{width: 213px;height: 212px;float: left;}
			.suoyou .ren .er .zi{width: 344px;height: 85px;text-align: center;float: left;}
			.suoyou .ren .er .zi .zi1{width: 200px;height: 22px;  color: #f37c6b;font-weight: bold;margin-bottom: 5px;  font-size: 18px;font-family:sans-serif;}
			.suoyou .ren .er .zi .zi2{width: 200px;height: 22px;  color: #a1a1a1; font-size: 12px;font-family: arial;}
			
		
			.text{width: 1258px;height: 65px; font-family: arial;font-size: 14px;color: #818181;margin: 0 auto;}
			.text .text1{width: 340px;height: 65px;float: left;padding-right: 50px;}
		    .text .text_a{height: 22px;line-height: 22px;padding-left: 15px;}
			.text .text_b{height: 22px;line-height: 22px;}
			.text .text_c{height: 22px;line-height: 22px;padding-left: 15px;}
			
			.footer{width: 100%;height: 314px;margin-top: 60px;background: #475268;}
			.footer .footer_center{width: 1064px;height: 187px;margin: 0 auto;padding-top: 60px;}
			.footer .footer_left{width: 192px;height: 187px;float: left;}
			.footer .footer_left .co{font-size: 20px;color: #ffffff;float: left;}
			.footer .footer_left .add{width: 194px;height: 140px;float: left;}
			.footer .footer_left ul li{color: #fff;padding-top: 15px;font-size: 14px;float: left;}
			.footer .footer_left ul .su{color: #EC6569;float: left;}
			
			.footer .footer_center1{width: 250px;height: 54px;float: left;margin-left: 100px;}
			.footer .footer_center1 .la{font-size: 20px;font-size: 20px;color: #ffffff;float: left;}
			.footer .footer_center1{width: 250px;height: 54px;float: left;}
			.footer .footer_center1 .mo{width: 315px;height: 17px;float: left;font-size: 12px;}
			.footer .footer_center1 .mo .mor{float: left;color: #FFFFFF;}
			.footer .footer_center1 .mo .moban{float: left;color: #444E67;}
			.footer .footer_center1 .mo .coll{float: left;padding-left: 50px;color: #FFFFFF;}
			.footer .footer_center1 .mo .wangye{float: left;color: #444E67;}
			
			.footer .footer_right{width: 232px;height: 154px;float: right;}
			.footer .footer_right .st{width: 141px;height: 18px;float: left;font-size: 20px;color: #ffffff;}
			.footer .footer_right .fff{width: 230px;height: 114px;float: left;}
			.footer .footer_right .fff ul li{width: 50px;height: 50px;float: left;padding: 3px;margin-top: 10px;}