  body{margin: 0px;padding: 0px;}
		    ul{list-style: none; margin: 0px;padding: 0px;}
		    .cl{clear: both;}
			.header{width: 100%;height: 66px;}
			.header .header_top{
				width: 1170px;
				height: 88px;
				margin: 0 auto;
				margin-top: 30px;}
			.header .header_left{
				width: 122px;
				height: 30px;
				float: left;}
			.header .header_left .text{
				color: #5e5e5e; 
				font-size: 30px; 
				font-weight: 100; 
				line-height: 30px;
				padding-left: 15px;
				text-decoration: none;}  
			.header .header_left span{color: #f25f5b;}
			.header .header_right{width: 700px;height: 44px; float:right; }
			.header .header_right ul .nav{float:right; }
			.header .header_right ul li{float: left; padding-right: 3px;font-family: "微软雅黑";}
			.header .header_right ul li a{ 
			text-decoration: none; 
			color: #999999; 
			font-size: 14px;padding: 8px;
			background-color: #FFFFFF;
			}
			.header .header_right .nav .aa:hover{background-color: #F77B6F;	
			color: #FFFFFF; 
			border-radius: 4px;} 
			
			.header_right li input{
	margin-top: 3px;
	width: 20px;
	height: 32px;
	line-height: 32px;
	border: 1px solid rgb(255,255,255);
	background: url(../images/search-icon.jpg) no-repeat 10px 8px;
	padding: 0 5px 0 35px;
	box-sizing: border-box;
	outline: none;
	margin-top: -2px;
}
.header_right li input:focus{
	
	width: 180px;
	height: 32px;
	line-height: 32px;
	border: 1px solid rgb(236,236,236);
	background: url(../images/search-icon.jpg) no-repeat 10px 8px;
	margin-left: 10px;
	color: rgb(156,156,156);
	padding: 0 5px 0 35px;
	border-radius: 5px;
	outline: none;
	transition: all .3s ease;
}

.header_center{width: 100%;height: 120px; background: #475268; }
			.header_center .header_center1{width: 1130px;height: 70px;margin: 0 auto;padding-top: 50px;}
			.header_center .center_left{float: left;line-height: 20px;}
			.header_center .center_left .ab{color: #fff; font-size: 24px;font-weight: 600;}
			.header_center .center_right{float: right;} 
			.header_center .center_right li span{color: #B7CCBC; font-size: 12px;}
			.header_center .center_right li{float: left;color: #EC6569;padding-left: 10px;}
			.header_center .center_right li a{color: #FFFFFF;}

.ditu{
	width: 100%;
	height: 401px;
	cursor: pointer;
}
.main{
	width: 1141px;
	height: 446px;
	margin:  0 auto;
	margin-top: 35px;
}
.main .left{
	float: left;
}

.main h3{
	font-size: 20px;
	color: #475168;
	font-family: 'Fjalla One', sans-serif;
}

.main p{
	line-height: 22px;
	color:  #797979;
	font-size: 12px;
	font-family: "微软雅黑";
}
.main .right{
	float: left;
	margin-left: 192px;
}
.main .right .na{
color:  #797979;
font-family: "微软雅黑";
font-weight: bold;
font-size: 12px;
margin-bottom: 8px;
}
.main .right input{
	outline: none;
	width: 653px;
	height: 34px;
	border: 1px solid #E2E2E4;
	border-radius: 6px;
	margin-bottom: 18px;
}

.main .right .in{
	width: 653px;
	height: 131px;
}
.main .right input:focus{
	border-color: #517397;
}
.main .right .in input{
	outline: none;
	width: 653px;
	height: 115px;
	border: 1px solid #E2E2E4;
	border-radius: 6px;
	margin-bottom: 21px;
	
}
.main .right .in input:focus{
	border-color: #517397;
}
.main .right .su{
	margin-top: 25px;
	background-color: #FF6C60;
	width: 73px;
	height: 35px;
	border-radius: 6px;
	text-align: center;
	color:  #FFFFFF;
	font-family: "微软雅黑";
	line-height: 35px;
	font-size: 14px;
}

.main .right .su:hover{
	background-color: #EC6459
}












	.footer{width: 100%;height: 314px;margin-top: 143px;background: #475268;}
			.footer .footer_center{width: 1064px;height: 187px;margin: 0 auto;padding-top: 60px;}
			.footer .footer_left{width: 192px;height: 187px;float: left;}
			.footer .footer_left .co{font-size: 20px;color: #ffffff;float: left;}
			.footer .footer_left .add{width: 194px;height: 140px;float: left;}
			.footer .footer_left ul li{color: #fff;padding-top: 15px;font-size: 14px;float: left;}
			.footer .footer_left ul .su{color: #EC6569;float: left;}
			
			.footer .footer_center1{width: 250px;height: 54px;float: left;margin-left: 100px;}
			.footer .footer_center1 .la{font-size: 20px;font-size: 20px;color: #ffffff;float: left;}
			.footer .footer_center1{width: 250px;height: 54px;float: left;}
			.footer .footer_center1 .mo{width: 315px;height: 17px;float: left;font-size: 12px;}
			.footer .footer_center1 .mo .mor{float: left;color: #FFFFFF;}
			.footer .footer_center1 .mo .moban{float: left;color: #444E67;}
			.footer .footer_center1 .mo .coll{float: left;padding-left: 50px;color: #FFFFFF;}
			.footer .footer_center1 .mo .wangye{float: left;color: #444E67;}
			
			.footer .footer_right{width: 232px;height: 154px;float: right;}
			.footer .footer_right .st{width: 141px;height: 18px;float: left;font-size: 20px;color: #ffffff;}
			.footer .footer_right .fff{width: 230px;height: 114px;float: left;}
			.footer .footer_right .fff ul li{width: 50px;height: 50px;float: left;
			padding: 3px;margin-top: 10px;}